<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.inseop.com.mother_bot">

    <!-- 문자 메시지 수신 권한 : 현재는 제외함. -->
    <!--<uses-permission android:name="android.permission.RECEIVE_SMS" />-->
    <!-- 문자 메시지 읽기 권한 -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <!-- 인터넷 사용 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 외부 저장소 파일 읽기,생성 권한 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".kakao_login.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <!-- activity -->
        <activity android:name=".kakao_login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
        </activity>

        <activity android:name=".AdapterListview"/>

        <!-- receiver : 문자 메시지 자동 수신 부분. 현재는 제외함. -->
        <!--<receiver
            android:name=".SMSReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        -->
       <!-- 파일 경로를 읽어옴-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <!-- 카카오톡 메타데이터 -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />


    </application>

</manifest>